.color {
  background: #0b7572;
  padding-top: 80px;
  padding-bottom: 30px;
  margin-top: 166px;
}
.f1 h1 {
  color: rgb(255, 255, 255);
  font-family: Familjen Grotesk;
  font-size: 60px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 16%;
  text-align: left;
  text-transform: capitalize;
}
.f2 p {
  color: rgb(255, 255, 255);
  font-family: Exo 2;
  font-size: 13px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 16%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 25px;
}
.f3 img {
  margin-right: 14px;
}
.f3 p {
  color: rgb(255, 255, 255);
  font-family: Exo 2;
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.f3 button {
  display: flex;
  align-items: center;
  padding: 7px 11px;
  background: rgb(255, 150, 25);
  border-style: none;
  cursor: pointer;
}
.f4 {
  color: rgb(255, 255, 255);
  font-family: Exo 2;
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 16%;
  text-align: center;
  text-transform: capitalize;
  margin-top: 80px;
}
.f {
  display: flex;
  align-items: start;
  gap: 130px;
  flex-wrap: wrap;
}
.f5 {
  margin: 32px 0;
}
@media (max-width: 1070px) {
  .f {
    justify-content: center;
    gap: 50px;
  }
}
